* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

.hero h1 {
    font-size: 3rem;
    color: #38bdf8;
}

.hero h2 {
    margin-top: 10px;
    color: #94a3b8;
}

.hero p {
    max-width: 800px;
    margin: 20px auto;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

section {
    padding: 70px 0;
}

section h2 {
    margin-bottom: 30px;
    color: #38bdf8;
    text-align: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    transition: .3s;
}

.card a{
    text-decoration: none;
    color: #a685fc;
}

.card a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}

.card:hover {
    transform: translateY(-5px);
}

.skill-category {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.skill-category h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.badge {
    background: #38bdf8;
    color: black;
    padding: 8px 16px;
    border-radius: 30px;
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}

@media(max-width:768px) {

    .hero h1 {
        font-size: 2rem;
    }

}